*{
      padding: 0px;
      margin: 0px;
      box-sizing: border-box;
}
.nav{
      width: 100%;
      background-color: black;
      padding: 20px;
      display: flex;
      align-items: center;
      justify-content: space-between;
}
.left{
      padding-left: 100px;
}
.right{
      padding-right: 100px;
}
.right a{
      color: white;
      font-weight: bolder;
      margin-right: 30px;
      text-decoration: none;
}
.right a:hover{
      color: red;
      text-decoration: underline;
}

/*  mobile size */
@media only screen and (max-width:1260){
      
}